:root {
    /* colores y variables */
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    position: relative;
    background-color: #FFF;
    width: 100%;
    height: 100vh;
}

#central {
    position: absolute;
    height: 90%;
    width: 90%;

    /* para alinearlo */
    left: 0; 
    margin-left: auto; 
    right: 0;
    margin-right: auto; 
    top: 0;
    margin-top: auto; 
    bottom: 0; 
    margin-bottom: auto; 

    /* para que quede arriba del fondo */
    z-index: 1;

    border-radius: 20px;
    border: 1px solid var(--borde, #FFF);
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(5px);

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 2fr 1fr 1fr;
    place-items: center;
    /* align-content: space-around; */

    box-shadow:
    0px 0.1px 1.4px -15px rgba(0, 0, 0, 0.118),
    0px 0.2px 3.4px -15px rgba(0, 0, 0, 0.17),
    0px 0.4px 6.4px -15px rgba(0, 0, 0, 0.21),
    0px 1px 11.4px -15px rgba(0, 0, 0, 0.25),
    0px 2.3px 21.3px -15px rgba(0, 0, 0, 0.302),
    0px 7px 51px -15px rgba(0, 0, 0, 0.42)
    ;
}

#titulos {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    
    text-align: center;
    color: #000;
    
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    gap: 2px;
}

h1 {
    font-size: 3.5rem;
}

h2 {
    font-size: 3rem;
}

#botones {
    grid-column: 1 / 3;
    grid-row: 2 / 3;

    display: inline-flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.button-30 {
    display: flex;
    
    padding: 10px 20px;
    justify-content: space-around;
    align-items: center;
    gap: 10px;

    border-radius: 10px;
    background: #D9D9D9;
    box-shadow: 0px -4px 4px 0px rgba(0, 0, 0, 0.25) inset, 0px 4px 4px 0px rgba(0, 0, 0, 0.1);

    color: #000;
    text-align: center;
    font-size: 3rem;
    font-weight: 700;
}

#subir-bajar-tiempo {
    grid-column: 1 / 3;
    grid-row: 3 / 4;

    display: inline-flex;
    align-items: flex-start;
}

#btn-bajar-tiempo, #btn-subir-tiempo {
    width: 55px;
    height: 57px;

    color: #000;
    text-align: center;
    /* font-family: Inter; */
    font-size: 3rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

    border: none;
    /* background-color: #D9D9D9; */
}

#mostrar-tiempo {
    width: 111px;
    height: 57px;

    background-color: #D9D9D9;
    /* fill: #D9D9D9; */
    /* stroke-width: 1px; */
    /* stroke: var(--borde, #FFF); */

    color: #000;
    font-size: 3rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

    display: grid;
    place-items: center;
}

#cantidad {
    grid-column: 1 / 3;
    grid-row: 4 / 5;

    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
}

.casilla-de-conteo {
    width: 328px;
    height: 37px;
    display: flex;
    justify-content: center;

    /* css de los textos */
    color: #000;
    text-align: center;
    font-size: 3rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

/* .casilla-de-conteo__text {

} */

.casilla-de-conteo__num {
    margin-left: 1rem;
}

/* ************************************** */
/* ************************************** */
/* ********* Animación de fondo ********* */
/* ************************************** */
/* ************************************** */

.area{
    position: relative;
    width: 100%;
    height:100vh;
}

.circles{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.circles li{
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.2);
    animation: animate 25s linear infinite;
    bottom: -150px;
    
}

.circles li:nth-child(1){
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}


.circles li:nth-child(2){
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3){
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.circles li:nth-child(4){
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5){
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circles li:nth-child(6){
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.circles li:nth-child(7){
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.circles li:nth-child(8){
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles li:nth-child(9){
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(10){
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}


@keyframes animate {

    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0.2;
        border-radius: 50%;
    }

}